/****** Object:  Table [dbo].[DimBranch]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBranch](
	[BranchKey] [int] NOT NULL,
	[BranchId] [nvarchar](50) NOT NULL,
	[BranchName] [nvarchar](200) NOT NULL,
	[Region] [nvarchar](100) NOT NULL,
	[Province] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[OpenDate] [datetime] NOT NULL,
	[CloseDate] [datetime] NOT NULL,
	[IsCurrent] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DimBranch] PRIMARY KEY CLUSTERED 
(
	[BranchKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimBranch_UK1] UNIQUE NONCLUSTERED 
(
	[BranchId] ASC,
	[OpenDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimChannel]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimChannel](
	[ChannelKey] [int] NOT NULL,
	[ChannelType] [nvarchar](50) NOT NULL,
	[SubChannelType] [nvarchar](50) NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DimChannel] PRIMARY KEY CLUSTERED 
(
	[ChannelKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimChannel_UK1] UNIQUE NONCLUSTERED 
(
	[ChannelType] ASC,
	[SubChannelType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Year] [int] NOT NULL,
	[Quarter] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Day] [int] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[MonthName] [nvarchar](20) NULL,
	[IsWeekend] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDiscount]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDiscount](
	[DiscountKey] [int] NOT NULL,
	[DiscountTypeCode] [nvarchar](50) NOT NULL,
	[DiscountCode] [nvarchar](50) NOT NULL,
	[DiscountTypeName] [nvarchar](100) NOT NULL,
	[DiscountName] [nvarchar](100) NULL,
	[IsItemDiscount] [int] NOT NULL,
	[IsBillDiscount] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DimDiscount] PRIMARY KEY CLUSTERED 
(
	[DiscountKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimDiscount_UK1] UNIQUE NONCLUSTERED 
(
	[DiscountTypeCode] ASC,
	[DiscountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPayment]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPayment](
	[PaymentKey] [int] NOT NULL,
	[PaymentTypeCode] [nvarchar](50) NOT NULL,
	[PaymentCode] [nvarchar](50) NOT NULL,
	[PaymentTypeName] [nvarchar](100) NOT NULL,
	[PaymentName] [nvarchar](100) NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DimPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimPayment_UK1] UNIQUE NONCLUSTERED 
(
	[PaymentTypeCode] ASC,
	[PaymentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPerson]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPerson](
	[PersonKey] [int] NOT NULL,
	[PersonCode] [nvarchar](50) NOT NULL,
	[PersonType] [nvarchar](50) NOT NULL,
	[PersonName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DimPerson] PRIMARY KEY CLUSTERED 
(
	[PersonKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimPerson_PersonCode] UNIQUE NONCLUSTERED 
(
	[PersonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductKey] [int] NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[SizeName] [nvarchar](100) NOT NULL,
	[UOMType] [nvarchar](30) NOT NULL,
	[ValidFromDateTime] [datetime] NOT NULL,
	[ValidToDateTime] [datetime] NOT NULL,
	[IsCurrent] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DimProduct] PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DimProduct_UK1] UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC,
	[ValidFromDateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactDiscount]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactDiscount](
	[DiscountFactKey] [int] NOT NULL,
	[TransactionKey] [int] NOT NULL,
	[DateKeyBusiness] [int] NOT NULL,
	[BranchKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[DiscountKey] [int] NOT NULL,
	[DiscountSeq] [int] NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_FactDiscount] PRIMARY KEY CLUSTERED 
(
	[DiscountFactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FactDiscount_Txn_Pro_DKey_DSeq] UNIQUE NONCLUSTERED 
(
	[TransactionKey] ASC,
	[ProductKey] ASC,
	[DiscountKey] ASC,
	[DiscountSeq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactPayment]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactPayment](
	[PaymentFactKey] [int] NOT NULL,
	[TransactionKey] [int] NOT NULL,
	[DateKeyBusiness] [int] NOT NULL,
	[BranchKey] [int] NOT NULL,
	[PaymentKey] [int] NOT NULL,
	[PaymentSeq] [int] NOT NULL,
	[PaymentValue] [decimal](18, 2) NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_FactPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentFactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FactPayment_Txn_Pay_Pseq] UNIQUE NONCLUSTERED 
(
	[TransactionKey] ASC,
	[PaymentKey] ASC,
	[PaymentSeq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSalesDetail]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSalesDetail](
	[SalesDetailFactKey] [int] NOT NULL,
	[TransactionKey] [int] NOT NULL,
	[DateKeyBusiness] [int] NOT NULL,
	[BranchKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[PersonKey] [int] NOT NULL,
	[ChannelKey] [int] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[Quantity] [decimal](18, 3) NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[TotalSale] [decimal](18, 2) NULL,
	[NetSale] [decimal](18, 2) NULL,
	[Vat] [decimal](18, 2) NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_FactSalesDetail] PRIMARY KEY CLUSTERED 
(
	[SalesDetailFactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FSD_Txn_Prod_Date] UNIQUE NONCLUSTERED 
(
	[TransactionKey] ASC,
	[ProductKey] ASC,
	[DateKeyBusiness] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSalesHeader]    Script Date: 01/05/2026 19:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSalesHeader](
	[TransactionKey] [int] NOT NULL,
	[DateKeyBusiness] [int] NOT NULL,
	[BranchKey] [int] NOT NULL,
	[PersonKey] [int] NOT NULL,
	[ChannelKey] [int] NOT NULL,
	[TransactionID]  AS ('TXN'+right(replicate('0',(10))+CONVERT([nvarchar](10),[TransactionKey]),(10))) PERSISTED,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[GrossSale] [decimal](18, 2) NOT NULL,
	[TotalSale] [decimal](18, 2) NOT NULL,
	[NetSale] [decimal](18, 2) NOT NULL,
	[TotalDiscount] [decimal](18, 2) NOT NULL,
	[Vat] [decimal](18, 2) NOT NULL,
	[ServiceCharge] [decimal](18, 2) NOT NULL,
	[Voucher] [decimal](18, 2) NOT NULL,
	[TotalDocket] [int] NOT NULL,
	[TotalCustomer] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_FactSalesHeader] PRIMARY KEY CLUSTERED 
(
	[TransactionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FactSalesHeader_InvoiceNumber] UNIQUE NONCLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FactSalesHeader_OrderNumber] UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FactSalesHeader_TransactionID] UNIQUE NONCLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DimBranch] ADD  CONSTRAINT [DF_DimBranch_BranchKey]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_BranchKey]) FOR [BranchKey]
GO
ALTER TABLE [dbo].[DimProduct] ADD  CONSTRAINT [DF_DimProduct_ProductKey]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_ProductKey]) FOR [ProductKey]
GO
ALTER TABLE [dbo].[FactDiscount] ADD  CONSTRAINT [DF_FactDiscount_DiscountFactKey]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_DiscountFactKey]) FOR [DiscountFactKey]
GO
ALTER TABLE [dbo].[FactDiscount] ADD  DEFAULT ((0)) FOR [DiscountValue]
GO
ALTER TABLE [dbo].[FactPayment] ADD  CONSTRAINT [DF_FactPayment_PaymentFactKey]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_PaymentFactKey]) FOR [PaymentFactKey]
GO
ALTER TABLE [dbo].[FactPayment] ADD  DEFAULT ((0)) FOR [PaymentValue]
GO
ALTER TABLE [dbo].[FactSalesDetail] ADD  CONSTRAINT [DF_FactSalesDetail_SalesDetailFactKey]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_SalesDetailFactKey]) FOR [SalesDetailFactKey]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  CONSTRAINT [DF_FactSalesHeader_TransactionKey]  DEFAULT (NEXT VALUE FOR [dbo].[Seq_TransactionKey]) FOR [TransactionKey]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [GrossSale]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [TotalSale]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [NetSale]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [TotalDiscount]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [Vat]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [ServiceCharge]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [Voucher]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [TotalDocket]
GO
ALTER TABLE [dbo].[FactSalesHeader] ADD  DEFAULT ((0)) FOR [TotalCustomer]
GO
ALTER TABLE [dbo].[FactDiscount]  WITH CHECK ADD  CONSTRAINT [FK_FD_Branch] FOREIGN KEY([BranchKey])
REFERENCES [dbo].[DimBranch] ([BranchKey])
GO
ALTER TABLE [dbo].[FactDiscount] CHECK CONSTRAINT [FK_FD_Branch]
GO
ALTER TABLE [dbo].[FactDiscount]  WITH CHECK ADD  CONSTRAINT [FK_FD_Date] FOREIGN KEY([DateKeyBusiness])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactDiscount] CHECK CONSTRAINT [FK_FD_Date]
GO
ALTER TABLE [dbo].[FactDiscount]  WITH CHECK ADD  CONSTRAINT [FK_FD_Discount] FOREIGN KEY([DiscountKey])
REFERENCES [dbo].[DimDiscount] ([DiscountKey])
GO
ALTER TABLE [dbo].[FactDiscount] CHECK CONSTRAINT [FK_FD_Discount]
GO
ALTER TABLE [dbo].[FactDiscount]  WITH CHECK ADD  CONSTRAINT [FK_FD_Product] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactDiscount] CHECK CONSTRAINT [FK_FD_Product]
GO
ALTER TABLE [dbo].[FactDiscount]  WITH CHECK ADD  CONSTRAINT [FK_FD_Txn] FOREIGN KEY([TransactionKey])
REFERENCES [dbo].[FactSalesHeader] ([TransactionKey])
GO
ALTER TABLE [dbo].[FactDiscount] CHECK CONSTRAINT [FK_FD_Txn]
GO
ALTER TABLE [dbo].[FactPayment]  WITH CHECK ADD  CONSTRAINT [FK_FP_Branch] FOREIGN KEY([BranchKey])
REFERENCES [dbo].[DimBranch] ([BranchKey])
GO
ALTER TABLE [dbo].[FactPayment] CHECK CONSTRAINT [FK_FP_Branch]
GO
ALTER TABLE [dbo].[FactPayment]  WITH CHECK ADD  CONSTRAINT [FK_FP_Date] FOREIGN KEY([DateKeyBusiness])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactPayment] CHECK CONSTRAINT [FK_FP_Date]
GO
ALTER TABLE [dbo].[FactPayment]  WITH CHECK ADD  CONSTRAINT [FK_FP_Payment] FOREIGN KEY([PaymentKey])
REFERENCES [dbo].[DimPayment] ([PaymentKey])
GO
ALTER TABLE [dbo].[FactPayment] CHECK CONSTRAINT [FK_FP_Payment]
GO
ALTER TABLE [dbo].[FactPayment]  WITH CHECK ADD  CONSTRAINT [FK_FP_Txn] FOREIGN KEY([TransactionKey])
REFERENCES [dbo].[FactSalesHeader] ([TransactionKey])
GO
ALTER TABLE [dbo].[FactPayment] CHECK CONSTRAINT [FK_FP_Txn]
GO
ALTER TABLE [dbo].[FactSalesDetail]  WITH CHECK ADD  CONSTRAINT [FK_FSD_Branch] FOREIGN KEY([BranchKey])
REFERENCES [dbo].[DimBranch] ([BranchKey])
GO
ALTER TABLE [dbo].[FactSalesDetail] CHECK CONSTRAINT [FK_FSD_Branch]
GO
ALTER TABLE [dbo].[FactSalesDetail]  WITH CHECK ADD  CONSTRAINT [FK_FSD_Channel] FOREIGN KEY([ChannelKey])
REFERENCES [dbo].[DimChannel] ([ChannelKey])
GO
ALTER TABLE [dbo].[FactSalesDetail] CHECK CONSTRAINT [FK_FSD_Channel]
GO
ALTER TABLE [dbo].[FactSalesDetail]  WITH CHECK ADD  CONSTRAINT [FK_FSD_Date] FOREIGN KEY([DateKeyBusiness])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactSalesDetail] CHECK CONSTRAINT [FK_FSD_Date]
GO
ALTER TABLE [dbo].[FactSalesDetail]  WITH CHECK ADD  CONSTRAINT [FK_FSD_Person] FOREIGN KEY([PersonKey])
REFERENCES [dbo].[DimPerson] ([PersonKey])
GO
ALTER TABLE [dbo].[FactSalesDetail] CHECK CONSTRAINT [FK_FSD_Person]
GO
ALTER TABLE [dbo].[FactSalesDetail]  WITH CHECK ADD  CONSTRAINT [FK_FSD_Product] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactSalesDetail] CHECK CONSTRAINT [FK_FSD_Product]
GO
ALTER TABLE [dbo].[FactSalesDetail]  WITH CHECK ADD  CONSTRAINT [FK_FSD_Txn] FOREIGN KEY([TransactionKey])
REFERENCES [dbo].[FactSalesHeader] ([TransactionKey])
GO
ALTER TABLE [dbo].[FactSalesDetail] CHECK CONSTRAINT [FK_FSD_Txn]
GO
ALTER TABLE [dbo].[FactSalesHeader]  WITH CHECK ADD  CONSTRAINT [FK_FSH_Branch] FOREIGN KEY([BranchKey])
REFERENCES [dbo].[DimBranch] ([BranchKey])
GO
ALTER TABLE [dbo].[FactSalesHeader] CHECK CONSTRAINT [FK_FSH_Branch]
GO
ALTER TABLE [dbo].[FactSalesHeader]  WITH CHECK ADD  CONSTRAINT [FK_FSH_Channel] FOREIGN KEY([ChannelKey])
REFERENCES [dbo].[DimChannel] ([ChannelKey])
GO
ALTER TABLE [dbo].[FactSalesHeader] CHECK CONSTRAINT [FK_FSH_Channel]
GO
ALTER TABLE [dbo].[FactSalesHeader]  WITH CHECK ADD  CONSTRAINT [FK_FSH_Date] FOREIGN KEY([DateKeyBusiness])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactSalesHeader] CHECK CONSTRAINT [FK_FSH_Date]
GO
ALTER TABLE [dbo].[FactSalesHeader]  WITH CHECK ADD  CONSTRAINT [FK_FSH_Person] FOREIGN KEY([PersonKey])
REFERENCES [dbo].[DimPerson] ([PersonKey])
GO
ALTER TABLE [dbo].[FactSalesHeader] CHECK CONSTRAINT [FK_FSH_Person]
GO
