/****** Object:  Schema [stg]    Script Date: 01/05/2026 20:25:28 ******/
CREATE SCHEMA [stg]
GO
/****** Object:  Table [stg].[DimBranch_in]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DimBranch_in](
	[BranchKey] [int] NULL,
	[BranchId] [nvarchar](50) NULL,
	[BranchName] [nvarchar](200) NULL,
	[Region] [nvarchar](100) NULL,
	[Province] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[OpenDate] [datetime] NULL,
	[CloseDate] [datetime] NULL,
	[IsCurrent] [int] NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DimChannel_in]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DimChannel_in](
	[ChannelKey] [int] NULL,
	[ChannelType] [nvarchar](50) NULL,
	[SubChannelType] [nvarchar](50) NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DimDate_in]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DimDate_in](
	[DateKey] [int] NULL,
	[Date] [date] NULL,
	[Year] [int] NULL,
	[Quarter] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL,
	[DayOfWeek] [int] NULL,
	[MonthName] [nvarchar](20) NULL,
	[IsWeekend] [int] NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DimDiscount_in]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DimDiscount_in](
	[DiscountKey] [int] NULL,
	[DiscountTypeCode] [nvarchar](50) NULL,
	[DiscountCode] [nvarchar](50) NULL,
	[DiscountTypeName] [nvarchar](100) NULL,
	[DiscountName] [nvarchar](100) NULL,
	[IsItemDiscount] [int] NULL,
	[IsBillDiscount] [int] NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DimPayment_in]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DimPayment_in](
	[PaymentKey] [int] NULL,
	[PaymentTypeCode] [nvarchar](50) NULL,
	[PaymentCode] [nvarchar](50) NULL,
	[PaymentTypeName] [nvarchar](100) NULL,
	[PaymentName] [nvarchar](100) NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DimPerson_in]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DimPerson_in](
	[PersonKey] [int] NULL,
	[PersonCode] [nvarchar](50) NULL,
	[PersonType] [nvarchar](50) NULL,
	[PersonName] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](254) NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DimProduct_in]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DimProduct_in](
	[ProductKey] [int] NULL,
	[ProductCode] [nvarchar](50) NULL,
	[ProductName] [nvarchar](200) NULL,
	[CategoryName] [nvarchar](100) NULL,
	[SizeName] [nvarchar](100) NULL,
	[UOMType] [nvarchar](30) NULL,
	[ValidFromDateTime] [datetime] NULL,
	[ValidToDateTime] [datetime] NULL,
	[IsCurrent] [int] NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DQ_Mismatch_FD]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DQ_Mismatch_FD](
	[TransactionKey] [int] NOT NULL,
	[DiscountKey] [int] NOT NULL,
	[DiscountSeq] [int] NOT NULL,
	[Stg_DiscountValue] [decimal](18, 2) NULL,
	[Core_DiscountValue] [decimal](18, 2) NULL,
	[UpdateDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DQ_Mismatch_FP]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DQ_Mismatch_FP](
	[TransactionKey] [int] NOT NULL,
	[PaymentKey] [int] NOT NULL,
	[PaymentSeq] [int] NOT NULL,
	[Stg_PaymentValue] [decimal](18, 2) NULL,
	[Core_PaymentValue] [decimal](18, 2) NULL,
	[UpdateDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DQ_Mismatch_FSD]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DQ_Mismatch_FSD](
	[TransactionKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[DateKeyBusiness] [int] NOT NULL,
	[Stg_TotalSale] [decimal](18, 2) NULL,
	[Core_TotalSale] [decimal](18, 2) NULL,
	[Stg_NetSale] [decimal](18, 2) NULL,
	[Core_NetSale] [decimal](18, 2) NULL,
	[UpdateDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DQ_Missing_FSH]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DQ_Missing_FSH](
	[TransactionKey] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[DQ_Results]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[DQ_Results](
	[CheckName] [nvarchar](100) NOT NULL,
	[ObjectName] [nvarchar](100) NOT NULL,
	[MetricName] [nvarchar](100) NOT NULL,
	[StagingValue] [decimal](38, 6) NULL,
	[CoreValue] [decimal](38, 6) NULL,
	[DiffValue] [decimal](38, 6) NULL,
	[UpdateDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[FactDiscount_upd]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FactDiscount_upd](
	[DiscountFactKey] [int] NULL,
	[TransactionKey] [int] NULL,
	[DateKeyBusiness] [int] NULL,
	[BranchKey] [int] NULL,
	[ProductKey] [int] NULL,
	[DiscountKey] [int] NULL,
	[DiscountSeq] [int] NULL,
	[DiscountValue] [decimal](18, 2) NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[FactPayment_upd]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FactPayment_upd](
	[PaymentFactKey] [int] NULL,
	[TransactionKey] [int] NULL,
	[DateKeyBusiness] [int] NULL,
	[BranchKey] [int] NULL,
	[PaymentKey] [int] NULL,
	[PaymentSeq] [int] NULL,
	[PaymentValue] [decimal](18, 2) NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[FactSalesDetail_upd]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FactSalesDetail_upd](
	[SalesDetailFactKey] [int] NULL,
	[TransactionKey] [int] NULL,
	[DateKeyBusiness] [int] NULL,
	[BranchKey] [int] NULL,
	[ProductKey] [int] NULL,
	[PersonKey] [int] NULL,
	[ChannelKey] [int] NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[Quantity] [decimal](18, 3) NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[TotalSale] [decimal](18, 2) NULL,
	[NetSale] [decimal](18, 2) NULL,
	[Vat] [decimal](18, 2) NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[FactSalesHeader_upd]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[FactSalesHeader_upd](
	[TransactionKey] [int] NULL,
	[DateKeyBusiness] [int] NULL,
	[BranchKey] [int] NULL,
	[PersonKey] [int] NULL,
	[ChannelKey] [int] NULL,
	[InvoiceNumber] [nvarchar](50) NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[TransactionDate] [datetime] NULL,
	[GrossSale] [decimal](18, 2) NULL,
	[TotalSale] [decimal](18, 2) NULL,
	[NetSale] [decimal](18, 2) NULL,
	[TotalDiscount] [decimal](18, 2) NULL,
	[Vat] [decimal](18, 2) NULL,
	[ServiceCharge] [decimal](18, 2) NULL,
	[Voucher] [decimal](18, 2) NULL,
	[TotalDocket] [int] NULL,
	[TotalCustomer] [int] NULL,
	[UpdateDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[VoidTxn]    Script Date: 01/05/2026 20:25:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[VoidTxn](
	[TransactionKey] [int] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_stg_VoidTxn] PRIMARY KEY CLUSTERED 
(
	[TransactionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [stg].[DQ_Mismatch_FD] ADD  DEFAULT (getutcdate()) FOR [UpdateDateTime]
GO
ALTER TABLE [stg].[DQ_Mismatch_FP] ADD  DEFAULT (getutcdate()) FOR [UpdateDateTime]
GO
ALTER TABLE [stg].[DQ_Mismatch_FSD] ADD  DEFAULT (getutcdate()) FOR [UpdateDateTime]
GO
ALTER TABLE [stg].[DQ_Missing_FSH] ADD  DEFAULT (getutcdate()) FOR [UpdateDateTime]
GO
ALTER TABLE [stg].[DQ_Results] ADD  DEFAULT (getutcdate()) FOR [UpdateDateTime]
GO
ALTER TABLE [stg].[VoidTxn] ADD  DEFAULT (getutcdate()) FOR [UpdateDateTime]
GO
